<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
 xmlns:sec="https://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">
<head>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/fontawesom/all.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="container-fluid">
<div class="m-3">
<h2>Sorry, an unexpected Error occurs</h2>

</div>
<div class="text-center text-warning bg-dark font-weight-bold">

<p>One Click Pick -CopyRight &copy LTD</p>
</div>
</div>
</body>
</html>