<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
 xmlns:sec="https://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">
<head>
<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-sclae=1.0,minimum-scale=1.0">

<title>[[${pageTitle}]]</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>


<div class="container-fluid">
<div th:replace="navigation :: header_menu"></div>


<div th:if="${listCategoryParents != null && !listCategoryParents.empty}">
		<div class="row">
			<div class="col">
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a th:href="@{/}">Home</a>
						</li>

						<th:block th:each="parent : ${listCategoryParents}">
						<li class="breadcrumb-item">
							<a th:href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a>
						</li>
						</th:block>
	  
					</ol>
				</nav>
			</div>
		</div>
	</div>

<div class="row text-center">
		<th:block th:each="cat : ${category.children}">
		<div class="col" th:if="${cat.enabled == true}">
		<a th:href="@{'/c/' + ${cat.alias}}">
			<img th:src="@{${cat.imagePath}}" height="100" />
			<br/>
			<b>[[${cat.name}]]</b>
		</a>
		</div>
		</th:block>
	</div>


	<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
		<th:block th:each="product : ${listProducts}">
			<div class="col">
			<div>
			<a th:href="@{'/p/' +${product.alias}}">
			    <img th:src="@{${product.mainImagePath}}" width="150" />
			     <br/>
			      <b>[[${product.name}]]</b>
			      
			 </a>
			</div>
			<div th:if="${product.discountPercent<=0}">
			<span>[[${product.price}]]</span>
			</div>
			<span style="font-size:larger; color:darkred">$:[[${product.discountPrice}]]</span>
			<div th:if="${product.discountPercent>0}">
			<del><span>[[${product.price}]]</span></del>
			</div>
			
			</div>
		</th:block>
	</div>


<div th:replace="fragments :: pagination('/c/' + ${category.alias}, 'product')"></div>



<div>

<div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavbar">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="bottomNavbar">
<ul class="navbar-nav">

<li class="nav-item ">
 <a class=" nav-link text-warning font-weight-bold" id="bottomNavbar" href="">About Us</a>
</li>

<li class="nav-item ">

 <a class="nav-link text-warning font-weight-bold" id="logoutLink" href="">Privacy Notice</a>

</li>

<li class="nav-item ">

 <a class="nav-link text-warning font-weight-bold" id="logoutLink" href="">Return &amp; Refunds </a>

</li>





</ul>
</div>
</nav>
</div>















</div >
<div class="text-center text-dark font-weight-bold">

<p>One Click Pick -CopyRight & copy LTD</p>
</div>



</div>
<script type="text/javascript">
$(document).ready(function(){
$("#logoutLink").on("click",function(e)
{
e.preventDefault();
document.logoutForm.submit();
});
});
</script>
</body>
</html>