<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-sclae=1.0,minimum-scale=1.0">

<title>Home-Shopme Admin</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/fontawesom/all.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
<div> 

<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
<input type="submit" />
</form>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<a class="navbar-brand" th:href="@{/}">
<img th:src="@{/images/logomain.png}" class="rounded float-left img-fluid max-width:10%"/>
</a>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="topNavbar">
<ul class="navbar-nav">


<li class="nav-item" sec:authorize="hasAuthority('Admin')">
<a class="nav-link text-warning font-weight-bold" th:href="@{/users}"> Users </a>
</li>


<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
<li class="nav-item">
<a class="nav-link text-warning font-weight-bold" th:href="@{/categories}">Categories</a>
</li>
</th:block>


<th:block sec:authorize="hasAnyAuthority('Admin','SalesPerson')">
<li class="nav-item">
<a class="nav-link text-warning font-weight-bold" th:href="@{/customers}">Customers</a>
</li>
</th:block>

<th:block sec:authorize="hasAnyAuthority('Admin','Editor','Salesperson','Shipper')">
<li class="nav-item">
<a class="nav-link text-warning font-weight-bold" th:href="@{/products}">Products</a>
</li>
</th:block>

<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
<li class="nav-item">
<a class="nav-link text-warning font-weight-bold" th:href="@{/brands}">brand</a>
</li>
</th:block>



<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
<li class="nav-item">
<a class="nav-link text-warning font-weight-bold" th:href="@{/menus}">Menus</a>
</li>
</th:block>

<li class="nav-item" sec:authorize="hasAuthority('Admin')">
<a class="nav-link text-warning font-weight-bold" th:href="@{/settings}">Settings</a>
</li>

<li>
<span class="fas fa-user fa-2x icon-silver"></span>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle  text-warning font-weight-bold" text-warning font-weight-bold data-toggle="dropdown" sec:authentication="principal.fullname"></a>
<div class="dropdown-menu">
<a class="dropdown-item" id="logoutLink" href="">Logout</a>
</div>
</li>
</ul>
</div>
</nav>
</div>

<div>
<h2>Manage Brands</h2>
<a th:href="@{brands/new}"> Create New Brands</a>

</div>
<div th:if="${message!=null}" class="alert alert-success text-center">
[[${message}]]
</div>

<div>
<form th:action="@{/users/page/1}" class="form-inline m-3">
<input type="hidden" name="sortField" th:value="${sortField}"/>
<input type="hidden" name="sortDir" th:value="${sortDir}"/>
Filter:&nbsp;
<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
&nbsp;&nbsp;
<input type="submit" value="Search" class="btn btn-primary"/>
&nbsp;&nbsp;

</form>
</div>

<div>
<table class="table table-bordered table-striped table-hover table-responsive-xL">

<thead class="thead-dark">

<tr>
<th>

<a th:if="${sortField!='id'}" class="text-white" th:href="@{'/brands/page/'+${Currentpage}+'?sortField=id&sortDir='+${sortDir}}"
>Brand ID</a>


<a th:if="${sortField=='id'}"class="text-white" th:href="@{'/brands/page/'+${Currentpage}+'?sortField=id&sortDir='+${reversSortDir}}"
>Brand ID</a>
<span th:if="${sortField=='id'}"
th:class="${sortDir=='asc'?'fas fa-sort-up':'fas fa-sort-down'}"
></span>
</th>

<th>Logo</th>
<th>Brand Name</th>

<th>Categories</th>

<th>Edit</th>

</tr>
</thead>
<tbody>
<tr th:each="brand : ${listBrands}">
<td> [[${brand.id}]]</td>
<td>  
<img th:src= "@{${brand.logoPath}}"  style="width:100px" class="img-fluid"/>
</td>
<td> [[${brand.name}]]</td>

<td>
<th:block th:each="cat : ${brand.categories}">   
<span class="badge badge-secondary " th:text="${cat.name}"></span>
 </th:block>
</td>

<td>
<a class="fas fa-edit fa-1x icon-green" th:href="@{'/brands/edit/' +${brand.id}}" title="Edit this user"></a>
Edit
&nbsp; 
<a class="fas fa-trash fa-1x icon-red" th:href="@{'/brands/delete/' +${brand.id}}" title="Delete this user"></a>
Delete

</td>
</tr>

</tbody>
</table>

</div>

</div>
<nav >
 
</nav>
<div class="text-center text-warning bg-dark font-weight-bold">

<p>One Click Pick -CopyRight &copy LTD</p>
</div>


</body>
</html>